@model PagedList.IPagedList<BookMaster.Models.Item>
@using BookMaster.Models
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Catalog Search";
}

<h2>Catalog</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-striped table-hover">
    <tr class="row">
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().ItemType)
        </th>
        <th class="col-md-4">
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="col-md-2">
            @Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().Published)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().Pages)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().Summary)
        </th>
        <th class="col-md-2">

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="row">
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td class="col-md-2">
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))